//
// hmsConfig.xcconfig
// Hisnul Muslim
//
// Created by Abdirizak Hassan on 5/12/24. 💻
// Copyright © 2024 Abdirizak Hassan DR X. All Rights Reserved.
//
// GitHub: https://github.com/abdorizak
// Website: https://abdorizak.dev


// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
